<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="serialread.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <serialread.Properties.Settings>
            <setting name="ComPoort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="ControlMode" serializeAs="String">
                <value>joystickWheel</value>
            </setting>
            <setting name="SwitchToJoystick" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SwitchToJoystickWheel" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="SwitchToLeverWheel" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="ChangeBoat" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="DeselectBoat" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="ChangeToQuayMode" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ChangeToGPSMode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ChangeToDeskMode" serializeAs="String">
                <value>3</value>
            </setting>
        </serialread.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>