body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar.navbar-inverse.navbar-fixed-top {
    background-color: #0077CC;
    border-color: #00538F;
}
.navbar-nav > li > a {
    color: white !important;
}
p.navbar-text{  
    color: white !important;
}

#rightEngineParentContainer, #leftEngineParentContainer {
    display: flex;
    transform: rotate(90deg);
    width: 100%;
    margin-top: 35%;
    margin-left: -35%;
}
#rudderBarParentContainer {
    display: flex;
    width: 50%;
    margin: 10% 0 0 55%;
}
#leftEngineBarContainer_positive, #rightEngineBarContainer_positive {
    float: left;
    width: 200px;
    height: 32px;
    border: 1px solid black;
}

#leftEngineBarContainer_negative, #rightEngineBarContainer_negative {
    float: left;
    width: 200px;
    height: 32px;
    border: 1px solid black;
}

#progressBarlabel {
    transform: rotate(-90deg);
    font-size:2em;
}

#engineControlContainer {
    width: 50%;
    float: left;
    margin: 10% 0;
    display: flex;
}
#rudderBarContainer .progressbar-text, #rudderBarlabel {
    top: inherit !important;
    left: inherit !important;
    color: black !important;
    font-size: 2em;
}
rudderBarContainer > path
{
    stroke:black!important;
}